<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Title {% endblock %} </title>
</head>
<body>
    <div class="wrapper">
        <div class="nav-container">
            <nav class="nav-block">
                <ul class="navbar">
                    <li class="nav-item">1</li>
                    <li class="nav-item">2</li>
                    <li class="nav-item">3</li>
                    <li class="nav-item">4</li>
                    <li class="nav-item">5</li>
                </ul>
            </nav>
        </div>

        <div class="main-container">
            <main class="main__container">
                <h1>Доска объявлений</h1>

            </main>
        </div>
    </div>
</body>
</html>